{% extends 'base.html' %}
{% block content %}
bookmark

<ul>
    {% for bookmark in bookmarks %}
    <li>
        <p><a href="{{ bookmark.url }}">{{ bookmark }}</a>&nbsp; <a href="{% url 'bookmark:edit' bookmark.id %}">[Edit]</a>
    </li>
    {% empty %}
    <li>No bookmark</li>
    {% endfor %}
</ul>
{% endblock content %}